:root {
  --body-background-color: #e5e5e5;
  --logo-color: #4d5ae5;
  --logo-header-color: #2e2f42;
  --logo-footer-color: #f4f4fd;
  --nav-background-color: #ffffff;
  --nav-color: #2e2f42;
  --nav-hoverfocus-color: #404bbf;
  --address-color: #434455;
  --hero-background-color: #2e2f42;
  --hero-title-color: #ffffff;
  --hero-btn-background-color: #4d5ae5;
  --hero-btn-color: #ffffff;
  --hero-btn-hoverfocus-background-color: #404bbf;
  --list-btn-color: #4d5ae5;
  --list-btn-background-color: #f4f4fd;
  --list-btn-hoverfocus-background-color: #404bbf;
  --list-btn-hoverfocus-color: #ffffff;
  --portfolio-background-color: #ffffff;
  --priorities-background-color: #ffffff;
  --doing-background-color: #ffffff;
  --main-title-color: #2e2f42;
  --main-subtitle-color: #2e2f42;
  --main-text-color: #434455;
  --team-background-color: #f4f4fd;
  --team-item-background-color: #ffffff;
  --footer-background-color: #2e2f42;
  --footer-color: #f4f4fd;
}

/*--- Всегда делаем Сброс всех стилей браузера, для удобвства!---*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
img {
  display: block;
}

/*--- задаем размер контейнера всей страницы---*/
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*--- задаем стандартные значения для всей страницы---*/
body {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--body-background-color);
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.logo.header {
  color: var(--logo-header-color);
}
.logo.footer {
  color: var(--logo-footer-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-subtitle-color);
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/*------------------ Header ---------------------------*/
/*-------NAV Studio+Portfolio pages --------*/
.header {
  background-color: var(--nav-background-color);
  border-bottom: 1px solid #e7e9fc;
}
.header div {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav.list {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}
.nav.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-color);
  background-color: var(--nav-background-color);
}
.nav.link:hover,
.nav.link:focus {
  color: var(--nav-hoverfocus-color);
}
.contacts li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  margin-right: 256px;
  gap: 40px;
}
.contact a {
  color: var(--address-color);
}
.contact a:hover,
.contact a:focus {
  color: #404bbf;
}

/*--------------Portfolio page. MAIN ---------------*/
.portfolio {
  background-color: var(--portfolio-background-color);
}
.filter {
  padding-top: 93px;
  padding-bottom: 72px;
}
.portfolio ul {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  justify-content: center;
}
.portfolio button {
  height: 48px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--list-btn-color);
  background-color: var(--list-btn-background-color);
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.portfolio button:hover,
.portfolio button:focus {
  background-color: var(--list-btn-hoverfocus-background-color);
  color: var(--list-btn-hoverfocus-color);
}

.cards {
  padding-bottom: 120px;
}
.cards ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.name {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
}
.cards p {
  margin-top: 8px;
}
/*--------------------Section 1 Hero -----------------------*/
.hero {
  background-color: var(--hero-background-color);
}
.hero div {
  padding-top: 188px;
  padding-bottom: 292px;
  box-sizing: content-box;
  width: 496px;
  height: 120px;
  text-align: center;
}
.hero h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
  padding-bottom: 48px;
}
.hero button {
  width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-btn-color);
  background-color: var(--hero-btn-background-color);
  border-radius: 4px;
  margin-right: auto;
}
.hero button:hover,
.hero button:focus {
  background-color: var(--hero-btn-hoverfocus-background-color);
}

/*---------------------- Section 2 Priorities -----------------------*/
.priorities {
  padding-top: 120px;
  background-color: var(--priorities-background-color);
}

.priorities ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.priorities h3 {
  padding-bottom: 8px;
}
/*---------------------- Section 3 Doing -----------------------*/
.doing {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--doing-background-color);
}
.doing ul {
  padding-top: 72px;
  display: flex;
  align-items: center;
  gap: 24px;
}
/*------------------ Section 4 Team -----------------*/
.team {
  box-sizing: border-box;
  background-color: var(--team-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team h2 {
  margin-bottom: 72px;
}

.team ul {
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: center;
}
.team li {
  width: 264px;
  height: 380px;
  box-sizing: border-box;
}
.member {
  background: var(--team-item-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team p {
  margin-top: 8px;
}
/*-------------- FOOTER - Подвал страницы ---------------*/
.footer {
  background-color: var(--footer-background-color);
}
.footer div {
  width: 264px;
  margin-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer p {
  color: var(--footer-color);
  margin-top: 16px;
}
