:root {
  --logo-color: #4d5ae5;
  --logo-accent-header-color: #2e2f42;
  --logo-accent-footer-color: #f4f4fd;
  --nav-background-color: #ffffff;
  --nav-color: #2e2f42;
  --nav-hoverfocus-color: #404bbf;
  --address-color: #434455;
  --hero-background-color: #2e2f42;
  --hero-title-color: #ffffff;
  --hero-btn-background-color: #4d5ae5;
  --hero-btn-color: #ffffff;
  --hero-btn-hoverfocus-background-color: #404bbf;
  --list-btn-color: #4d5ae5;
  --list-btn-background-color: #f4f4fd;
  --list-btn-hoverfocus-background-color: #404bbf;
  --list-btn-hoverfocus-color: #ffffff;
  --main-title-color: #2e2f42;
  --main-subtitle-color: #2e2f42;
  --main-text-color: #434455;
  --team-background-color: #f4f4fd;
  --team-item-background-color: #ffffff;
  --footer-background-color: #2e2f42;
  --footer-color: #f4f4fd;
}

/*--- Сброс всех стилей браузера, для удобвства делаем всегда !---*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*--- задаем размер контейнера всей старницы---*/
.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-subtitle-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/*------------------ Header ---------------------------*/
/*-------LOGO+NAV Studio+Portfolio pages --------*/
.header div {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.header.accent {
  color: var(--logo-accent-header-color);
}
.nav.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-color);
  background-color: var(--nav-background-color);
}
.nav.link:hover,
.nav.link:focus {
  color: var(--nav-hoverfocus-color);
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address.link {
  color: var(--address-color);
}
.address.link:hover,
.address.link:focus {
  color: #404bbf;
}
/*-- Section Portfolio filter list --*/
.list.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--list-btn-color);
  background-color: var(--list-btn-background-color);
}
.list.btn:hover,
.list.btn:focus {
  background-color: var(--list-btn-hoverfocus-background-color);
  color: var(--list-btn-hoverfocus-color);
}

/*------Portfolio page. MAIN -------*/
.filter.list {
padding-top: 96px;
padding-bottom: 72px;
}
.portfolio h3 {
  padding-top: 32px;
}
.portfolio p {
  padding-top: 8px;
}

.portfolio div {
padding-bottom: 120px;
}
/*--------------------Section 1 Hero -----------------------*/
.hero.portfolio {
  background-color: inherit;
}
.hero {
  background-color: var(--hero-background-color);
}
.hero.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
  padding: 188px;
}

.hero.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-btn-color);
  background-color: var(--hero-btn-background-color);
  margin-bottom: 188px;
}
.hero.btn:hover,
.hero.btn:focus {
  background-color: var(--hero-btn-hoverfocus-background-color);
}

/*---------------------- Section 2 Priorities -----------------------*/
.priorities ul {
padding-top: 120px;
}
.priorities p {
  padding-top: 8px;
}
/*---------------------- Section 3 Doing -----------------------*/
.doing h2 {
  padding-top: 120px;
}
.doing ul {
  padding-top: 72px;
  padding-bottom: 120px;
}

/*------------------ Section 4 Team -----------------*/
.team {
  background-color: var(--team-background-color);
}
  .team div {
  margin-top: 120px;
}
.team h2 {
  padding-top: 120px;
}
.team ul {
  padding-top: 72px;
  padding-bottom: 120px;
}
.team h3 {
  padding-top: 32px;
}
.team p {
  padding-top: 8px;
  padding-bottom: 32px;
}
/*-------------- FOOTER - Подвал страницы ---------------*/
.footer {
  background-color: var(--footer-background-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);
}
.foot.logo.link {
  padding-top: 100px;
}

.footer.accent {
  color: var(--logo-accent-footer-color);
}
.footer.text {
  padding-top: 16px;
}
